
#info
{
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}
.pic
{
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 10px;
  text-align: center;
}
.pic > img
{
  width:300px;
  height:200px;
}
.pic > a
{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.si, .sl
{
  position: relative;
  display: inline-block;
  margin:auto;
  width: 25px;
  height: 25px;
}
.si
{
  opacity: 0;
}
.sl
{
  background: url(star1.png);
  background-size: contain;
  margin-left: -25px;
  margin-bottom: 1px;
}
.map
{
  background-color: white;
  width: 400px;
  height: 200px;
}
#reviews
{
  position: relative;
  display: block;
  width: 95%;
  height: 100%;
  margin: auto;
}
.review
{
  padding-top: 10px;
  border-bottom: 1px solid black;
}
.review:first-of-type
{
  border-top: 3px solid black;
}
.user-pic
{
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
}
.user-pic > img
{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.user-data
{
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: justify;
}
.user-data > p
{
  margin-left: 60px;
  width: 86%;
}
.star > img
{
  height: 25px;
  width: 25px;
}
.userActivity
{
  display: inline-block;
  float: right;
}
.review-post
{
  display : none;
  padding-top: 10px;
  height: 170px;
}
#review-input
{
  position: relative;
  display: block;
  margin-left: 60px;
}
#rate
{
  position: relative;
  display: inline-block;

}
#rating
{
  position: absolute;
  display: inline-block;
  left: 45px;
  height: 25px;
  width: 145px;
}
#rating:hover, .si:hover, .sl:hover
{
  cursor: pointer;
}
.review-post > textarea
{
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: 60px;
  height: 102px;
  width: 75%;
  border: 3px solid darkgreen;
  border-radius: 10px;
  padding: 5px;
}
.review-post > button
{
  position:absolute;
  display:inline-block;
  bottom: 20px;
  right: 20px;
  width: 10%;
  height: 30px;
  background-color: #00994f;
  border: 2px solid #004d28;
  border-radius: 2px;
  color: white;
}


@media only screen and (max-width: 800px)
{
  .pic
  {
    display: block;
    float: none;
    margin: 0;
  }
  .user-data > p
  {
    margin-left: 0px;
    width: 100%;
  }
  .review-post > textarea
  {
    margin-left: 0px;
  }
  .review-post > button
  {
    width: 15%;
  }
}
@media only screen and (max-width: 500px)
{
  .map
  {
    width: 100%;
  }
  .review-post > textarea
  {
    width: 100%;
    clear: both;
  }
  .review-post > button
  {
    margin-top: 30px;
    position: relative;
    float: right;
    width: 30%;
  }
}