#new-object
{
  position: relative;
  display: block;
  width: 90%;
  border-bottom: 1px solid black;
  margin: auto;
  margin-top: 20px;
  align-content: stretch;
}

.alert
{
  display: none;
  color: red;
  font-size: 12px;
}
#new-object > h1
{
  display: inline;
}
.object-edit-form
{
  position: relative;
  width: 75%;
  height: 400px;
  margin: 0 auto;
  align-content: center;
}
.object-pic
{
  position: relative;
  display: inline-block;
}
.object-pic > img
{
  position: relative;
  clear: right;
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}
.object-pic > a
{
  text-align: center;
  color: blue;
}
.object-data
{
  position: relative;
  display: inline-block;
  width: 360px;
  font-size: 1.5em;
  float: right;
}
.object-pic, .object-data
{
  margin-top: 20px;
}
.object-data > input
{
  display: block;
  padding-left: 20px;
  height: 30px;
  width: 350px;
  border: 2px solid green;
  border-radius: 5px;
}
.object-data > button
{
  position: relative;
  display: block;
  clear: left;
  margin-top: 20px;
  margin-right: 20px;
  width: 150px;
  height: 40px;
  border: 2px solid #004d28;
  border-radius: 7px;
  color: white;
  float: right;
  cursor: pointer;
}
#delete
{
  background-color: red;
}
#save
{
  background-color: #00994f;
}
