<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

  <display-name>Reviewer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>controller.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObjectServlet</display-name>
    <servlet-name>ObjectServlet</servlet-name>
    <servlet-class>controller.ObjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectServlet</servlet-name>
    <url-pattern>/ObjectServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>controller.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>controller.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
</web-app>
